In [1]:
x = 1.0
type(x)

float

In [3]:
True and False

False

In [4]:
True or False

True

In [6]:
x = 1.0+2.0j
type(x)

complex

In [12]:
print(x.real)

1.0

In [15]:
print(x.imag)

2.0

In [20]:
'data'+ '1'

'data1'

In [21]:
i = 10
if( i <= 5):
    print("Number is less than 5")
else:
    print("Number is greater than 5")

Number is greater than 5

In [22]:
l=['a','b','c','d','e','f']

In [23]:
len(l)

6

In [24]:
l.append('g')

In [25]:
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [27]:
for i in l:
    print(i)

a
b
c
d
e
f
g

In [33]:
c = 0
for i in l:
    print(i)
    c += len(i)
print("Total number of element is",c)

a
b
c
d
e
f
g
Total number of element is 7

In [35]:
p = "This is my world"
q = " and this is sparta"
r = p+q
print(r)

This is my world and this is sparta

In [42]:
x =[1,5,6]
y =[2,3,4,4] 
z = sum(x) + sum(y)
print(z)
print(sum(x))
print(sum(y))

25
12
13

In [46]:
a = [1,2,3,4,5,6,7,8,9]
s = 0
for i in a:
    s = s+i
print(s)
print("sum of all number in a is",sum(a))

45
sum of all number in a is 45

In [48]:
d = range(6)
d

range(0, 6)

In [49]:
len(d)

6

In [57]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
e = list(range(10))
e

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [120]:
a = ['kalim','nurhasan','kauser','jahangir','mahbub', 'haider']
print(a[0:5:2])
print(a[0:len(a):2])
a

['kalim', 'kauser', 'mahbub']
['kalim', 'kauser', 'mahbub']

['kalim', 'nurhasan', 'kauser', 'jahangir', 'mahbub', 'haider']

In [141]:
b = []
for i in a:
    if(i == 'kauser'):
        continue
    b.append(i)
    print("My brother's name is",i.capitalize())

My brother's name is Kalim
My brother's name is Nurhasan
My brother's name is Jahangir
My brother's name is Mahbub
My brother's name is Haider
['kalim', 'nurhasan', 'jahangir', 'mahbub', 'haider']

In [143]:
k = [1,2,3,4,5,6]
for i in k:
    if( i == 4):
        break
    print(i)

1
2
3

In [145]:
for i in range(0,len(k)):
    if i == 4:
        break
    print(k[i])

1
2
3
4

In [152]:
c = input("In which class do you study?")
p = int(c)+1
print("Next Year, you will be promoted in",p)

In which class do you study?10
Next Year, you will be promoted in 11